body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}
  
ul {
    margin: 0;
}

.site-header .navbar-nav .nav-link {
    color: #b7c1b7;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #333;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
  
.article-content {
    white-space: pre-line;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.content{
    margin: 4em 8em;
}
